// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
.card-todo {
  background-color: $red-100;
}

.card-todo__two-thirds {
  background-color: $yellow-200;
}

.card-todo__full {
  background-color: $teal-200;
}

.card__level {
  transition: all 0.3s ease-out;
}

.item-width {
  width: 780px;
}